<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  </head>
  <body>
    <div class="sidebar"  data-color="purple" data-background-color="white" data-image="D:\Demo\first\try\src\assets\img\sidebar-1.jpg">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
      <h2>Event Management</h2>
    </div>
    <div class="sidebar-wrapper" >
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/user">
            <i class="material-icons">person</i>
            <p>User_Profile</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="booked">
            <i class="material-icons">library_books</i>
            <p>Booked_Property</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cancelled">
            <i class="material-icons">close</i>
            <p>Cancelled_Property</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons">navigate_before</i>
            <p>Logout</p>
          </a>
        </li>
        <!-- your sidebar here -->
      </ul>
    </div>
      </div>

<router-outlet></router-outlet>